.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image-grid-container{
    position: relative;
    display: inline-block;
    margin: 5px;
    overflow: hidden;
}

.image-item {
    position: relative;
    cursor: pointer;
}

img {
    border-radius: 0.25rem;
    object-fit: cover;
    margin: 0!important;
    transition: 0.5s all ease-in;
}

img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.vertical-image{
    width: 542px!important;
    height: 610px!important;
    object-fit: cover;
}
.horizontal-image{
    width: 542px!important;
    height: 300px!important;
    object-fit: cover;
}



:host:hover .overlay{
    transform: scale(1);
}



    .content{
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
    }

    h2{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .tag-list {
        display: inline-block;
        margin: 0 5px;
        padding: 5px 10px;
        background-color: #fff;
        color: #000;
        border-radius: 20px;
      }
      
     

    .info-wrapper{
        display: flex;
        width: 75%;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        bottom: 20px;

        .image-details{
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            .info-card{
                text-decoration: underline;
                font-weight: bold;
            }
        }

        .show-edit{
            position: absolute;
            top: -29px;
            right: -14px;
            background: white;
            padding: 7px;
            border-radius: 5px;
        }
        .icon-ellipsis{
            font-size: 1.5rem;
        }
        .show-edit::after {
            content: "";
            border: 9px solid transparent;
            position: absolute;
            left: 31px;
            top: 28px;
        }
               
        .bottom.show-edit::after {

                border-top-color: white;
                 border-bottom: 0;
        }  
    }
