.fa-edit{
    color: #ffc107;
    padding: 0.3rem
}
.fa-trash{
    color: crimson;
    padding: 0.3rem
}


.fa-download{
    color: #409cb9;
}

div{
    cursor: pointer;
}

div:hover{
    transform: scale(1.2);
    cursor: pointer;
}

span{
    transition: 0.5s all ease-in;
}