.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-item{
  position: relative;
}

.grid-gallery{
  width: 93%;
}

.padding-reset{
  padding: 0!important;
  display: inline-block;
  object-fit: cover;
  display: flex;
  margin: auto;
  align-content: center;
  justify-content: center;
}

app-card{
  display: inline-block;
  object-fit: cover;
}