<form #uploadForm="ngForm" (ngSubmit)="onFormSubmit(uploadForm)">
    <div class="choices-buttons">
        <p>
            <input type="radio" value="url" name="image" [(ngModel)]="selectedOption" (change)="onSelectedRadioButtonImage($event)"> Image URL
            <input type="radio" value="file" name="image" [(ngModel)]="selectedOption" (change)="onSelectedRadioButtonImage($event)"> Image file
        </p>
        <div class="file-input-upload-bis" *ngIf="selectedImages.length > 0 && selectedOption != 'url'">
            <label for="file-input">
                <fa-icon [icon]="faUpload" class="icon-upload"></fa-icon>
            </label>
        </div>
    </div>
    <div
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event)" 
        [ngClass]=
        "{'upload-container': selectedImages.length > 0 && table == false, 'upload-container-bis': selectedImages.length == 0 || selectedOption == 'url' && selectedImages.length >= 0, 'upload-container-url': selectedOption == 'url' || gallery==false, 'drag-over': isDragOver}"
        > 
        <div class="wrapper" [ngClass]="{'wrapper-url': selectedOption == 'url'}">
            <div *ngIf="selectedOption == 'url';else other_content">
                <label for="url-input">
                    Entrez une url au format "jpg / png"
                    <input matInput type="text" id="myInput" class="url-input" name="url-image" [(ngModel)]="urlImage" placeholder="Entrez une Url" (keyup)="onUrlInputChange($event)">
                    <fa-icon [icon]="faPlus" *ngIf="characterUrl.length > 0" (click)="onAddUrlImage()"></fa-icon>
                    <ng-container *ngIf="selectedImages.length">
                        <div class="list-img-name">
                            <div *ngFor="let fileName of selectedImages;">
                                <div>
                                    <img [src]="fileName.source" [alt]="fileName.name">
                                    <p>{{fileName.name}}</p>
                                </div>
                                <fa-icon [icon]="faTrash" (click)="deleteImageUploaded(fileName.id ?? 0)"></fa-icon>
                            </div>
                        </div>
                    </ng-container>
                </label>
            </div>
            <ng-template #other_content>
                <ng-container *ngIf="this.selectedImages != null || droppedImage != null">
                    <div class="list-img-name" *ngIf="table">
                        <div *ngFor="let fileName of selectedImages;">
                            <div>
                                <img [src]="fileName.source" [alt]="fileName.name">
                                <p>{{fileName.name}}</p>
                            </div>
                            <fa-icon [icon]="faTrash" (click)="deleteImageUploaded(fileName.id ?? 0)"></fa-icon>
                        </div>
                    </div>
                    <ng-container *ngIf="gallery">
                        <div class="img-container" *ngFor="let img of selectedImages;">
                            <img [src]="img.source" [alt]="img.name" class="uploaded-img">
                            <div class="overlay-remove">
                                <fa-icon [icon]="faTrash" (click)="deleteImageUploaded(img.id ?? 0)"></fa-icon>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                
                <div class="file-input-upload">
                    <label for="file-input">
                        <fa-icon [icon]="faUpload" class="icon-upload" *ngIf="selectedImages.length == 0"></fa-icon>
                    </label>
                    <div class="file-upload-info" *ngIf="selectedImages.length == 0">
                        <span>Drag and drop file here</span>
                        <span>or</span>
                        <label for="file-input">
                            <span>Choose from computer</span>
                        </label>
                    </div>
                </div>
                
                <input type="file" #imageInput id="file-input" class="file-input" name="file" (change)="handleFileUpload($event)" multiple>
            </ng-template>
        </div>
    </div>
    <div [ngClass]=
            "{'is-display-list': selectedImages.length == 0 || selectedOption == 'url'}"
            class="actions-buttons" >
        <div *ngIf="selectedOption == 'file' && selectedImages.length > 0;">
            <svg (click)="toggleViewImages('gallery')" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="grid-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-grid-2 fa-lg me-2"><path fill="currentColor" d="M224 80c0-26.5-21.5-48-48-48H80C53.5 32 32 53.5 32 80v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V80zm0 256c0-26.5-21.5-48-48-48H80c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V336zM288 80v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H336c-26.5 0-48 21.5-48 48zM480 336c0-26.5-21.5-48-48-48H336c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V336z" class=""></path></svg>
            <fa-icon [icon]="faList" class="icon-list" (click)="toggleViewImages('table')" class="icon-list" [ngStyle]="{'background-color': table ? '#E3E3E3' : 'inherit'}"></fa-icon>
        </div>
        <div>
            <input type="submit" class="submit-btn" value="Ajouter" />
            <button mat-raised-button [mat-dialog-close]="false" class="cancel-btn">Annuler</button>
        </div>
    </div>
</form>