<div>
    <div class="card" style="font-size: 20px">
        <img src={{item.source}} class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text editable-content">
                <strong>Titre : </strong>
                <input type="text" #editableName name="editableName" [(ngModel)]="editableItemName" *ngIf="editDisplay" style="margin-left: 5px;">
                <span *ngIf="!editDisplay" style="margin-left: 5px;"> {{editableItemName}}</span>
                <fa-icon [ngStyle]="{'display': editDisplay ? 'none' : 'block'}" [icon]="faPen" class="faPen ms-2" (click)="onEditName()"></fa-icon>
                <fa-icon [ngStyle]="{'display': editDisplay ? 'block' : 'none'}" [icon]="faCheck" class="faCheck ms-2" (click)="onValidName(item.id)"></fa-icon>
                <fa-icon [ngStyle]="{'display': editDisplay ? 'block' : 'none'}" [icon]="faClose" class="faClose ms-2" (click)="clear()"></fa-icon>
            </p>

            <p class="card-text"> <strong>Description : </strong>{{item.description}}</p>
            <p class="card-text"> <strong>Format : </strong>{{formatImage}}</p>
            <!-- <p class="card-text"> <strong>Poids : </strong>{{formatBytes(byteLength(item.source))}}</p> -->
            <p class="card-text"> <strong>Dimensions : </strong>{{item.width}} x {{item.height}}</p>
            <p class="card-text mt-4 editable-content"> <strong>Tags</strong>
                <fa-icon [ngStyle]="{'display': editTags ? 'none' : 'block'}" [icon]="faPen" class="faPen ms-2" (click)="editTag()"></fa-icon>
                <fa-icon [ngStyle]="{'display': editTags ? 'block' : 'none'}" [icon]="faCheck" class="faCheck ms-2" (click)="removeTags()"></fa-icon>
                <fa-icon [ngStyle]="{'display': editTags ? 'block' : 'none'}" [icon]="faClose" class="faClose ms-2" (click)="clearTags()"></fa-icon>
            </p>
            <hr/>
            <div class="d-flex flex-wrap" style="gap: 10px">
                <span class="badge p-2" style="background-color: #8006AB;" *ngFor="let tag of item.tags" (click)="onClickTags(tag)" [ngClass]="{'selected': selectedTags.includes(tag)}">{{tag}}</span>
            </div>
        </div>
        <div class="card-footer">
            <div class="show-edit bottom">
                <app-edit 
                    [isModal]="true"
                    [item]="item" 
                    (displayModalEditEvent)="shareDisplayMode($event)" 
                    class="d-flex justify-content-evenly">
                </app-edit>
            </div>
        </div>
    </div>
</div>