<div class="dialog">
    <div class="content-modal">
        <fa-icon mat-raised-button [mat-dialog-close]="false" [icon]="faClose" class="close-btn" (click)="onDialogClose(false)"></fa-icon>
        <ng-container *ngIf="data.name === 'upload'; else editModal">
            <h2 mat-dialog-title>Charger une image depuis {{titleModal}} </h2>
            <ng-container *ngIf="httpErrorMessage.msg.length > 0;">
                <div 
                  [@fade]="showAlert"
                  *ngIf="showAlert"
                  class="alert alert-dismissible fade show text-center"
                  [ngClass]="{'alert-success': httpErrorMessage.status == 200, 'alert-danger': httpErrorMessage.status != 200}"
                  type="danger" 
                  dismissOnTimeout="3000" 
                  role="alert">
                  {{httpErrorMessage.msg}}
                </div>
              </ng-container>
            <app-upload-form></app-upload-form>
            
            
        </ng-container>
        
        <ng-template #editModal>
            <ng-container *ngIf="data.name === 'edit';">
            <h2 mat-dialog-title>Editez le contenu</h2>
                <p>This is the content for modal type B.</p>
                <div class="actions-buttons">
                    <button mat-raised-button class="submit-btn">Submit</button>
                    <button mat-raised-button [mat-dialog-close]="false" class="close-btn">Fermer</button>
                </div>
            </ng-container>
        </ng-template>
    </div>
</div>

