<div class="search-filter-wrapper">
    <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
        <div class="searchbar-wrapper">
            <input type="search" placeholder="Rechercher un produit..." name="search" (keyup)="handleSearchImageText($event)" [(ngModel)]="searchText">
            <fa-icon [icon]="faSearch" class="icon-search"></fa-icon>
        </div>
        <div class="filter-wrapper">
            <button class="btn btn-info" (click)="clearAllFilter()">Clear</button>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Catégorie <fa-icon [icon]="faChevronDown" class="icon-chevron"></fa-icon></option>
            </select>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"><option>Type <fa-icon [icon]="faChevronDown" class="icon-chevron"></fa-icon></option></select>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="selectedOption" name="selectedOption" (change)="onOptionChangeOrientation()">
                <option value="" disabled selected hidden>Selectionne un format <fa-icon [icon]="faChevronDown" class="icon-chevron"></fa-icon></option>
                <option>Vertical</option>
                <option>Horizontal</option>
            </select>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"><option>Cible <fa-icon [icon]="faChevronDown" class="icon-chevron"></fa-icon></option></select>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="filter" [(ngModel)]="filter" (change)="onOptionChangeAccuracy()">
                <option value="" disabled selected hidden>Définir la précision <fa-icon [icon]="faChevronDown" class="icon-chevron"></fa-icon></option>
                <option value="high">Précision élevée</option>
                <option value="low">Précision faible</option>
            </select>
        </div>
    </form>
</div>
