<div class="search-filter-wrapper">
    <div class="searchbar-wrapper">
        <form action="/search">
            <input type="search" placeholder="Rechercher un produit..." name="search" (keyup)="handleSearchImageText($event)" [(ngModel)]="searchText">
            <fa-icon [icon]="faSearch" class="icon-search"></fa-icon>
          </form>
    </div>
    <div class="filter-wrapper">
        <button (click)="clearAllFilter()">Clear</button>
        <select>
            <option selected>Catégorie <fa-icon [icon]="faChevronDown" class="icon-chevron"></fa-icon></option>
        </select>
        <select><option>Type <fa-icon [icon]="faChevronDown" class="icon-chevron"></fa-icon></option></select>
        <select [(ngModel)]="selectedOption" (change)="onOptionChange()">
            <option value="" disabled selected hidden>Select a format <fa-icon [icon]="faChevronDown" class="icon-chevron"></fa-icon></option>
            
            <option>Vertical</option>
            <option>Horizontal</option>
        </select>
        <select><option>Cible <fa-icon [icon]="faChevronDown" class="icon-chevron"></fa-icon></option></select>
    </div>
</div>
