

.search-filter-wrapper{
  legend, .search-fieldset{
    all: revert;
  }
  .search-fieldset{
    border: 1px solid lightgrey;
  }
  .search-text{
    width: 20%;
  }

  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
    .searchbar-wrapper {
        position: relative;
        margin-left: 2rem;
        width: 90%;
        .btn{
          font-size: 1.2rem!important;
          padding: 15px;
          border: 1px solid lightgrey;
        }
        input[type="search"] {
            width: 70%;
        }
    }
      
    .filter-wrapper{
        background: white;
        margin-top: 1rem;
        margin: auto auto 1rem auto;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 1rem;
        select{
          background-color: white;
          padding: 0.3rem 1rem;
          margin-left: 1rem;
          border: 1px solid #cfbfd0;
          border-radius: 5px;
          font-size: 1.3rem;
        }
    }

    main{
        .header-list-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            margin-bottom: 1rem;
            p{
                font-weight: bold;
            }
        }

        button{
            background-color: #8006AB;
            color: white;
            font-size: 1rem;
            padding: 0.7rem 1rem 0.7rem 1rem;
            border: none;
            border-radius: 5px;
        }
        
    }
    
  .tags-container{
    margin-left: 2rem;
    width: 90%;
  }

  .image-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
       
  @media only screen and (min-width: 768px) {
    .image-gallery {
      flex-direction: row;
    }
  }
}

.active{
  fill: #7905a4;
}

.deactivate{
  fill: "#b473c9";
}

.activated-micro{
  fill: red;
}

.deactivated-micro{
  fill: inherit;
}

.svg-micro:hover svg {
  fill: red; /* Change 'red' to your desired color */
}