
<tag-input (keyup)="handleSearchImageTags($event)"  [(ngModel)]="selectedTag"
    secondaryPlaceholder="Rechercher par tags"
    [onlyFromAutocomplete]="true">
    <tag-input-dropdown [showDropdownIfEmpty]="true"
                [focusFirstElement]="true"
                [displayBy]="'value'"
                [identifyBy]="'id'"
                [autocompleteItems]="autocompleteItemsAsObjects">
        <ng-template let-item="item" >
            {{ item.value }}
        </ng-template>
    </tag-input-dropdown>
</tag-input>