<ng-container *ngIf="renderView.length > 0; then contenu; else noContenu"></ng-container>
<ng-template #contenu>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Nom du fichier</th>
                <th scope="col">Meta description</th>
                <th scope="col">Tags</th>
                <th scope="col">Date d'ajout</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of renderView">
                <td>{{item.id}}</td>
                <td><img src={{item.base64}}></td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>item.tags</td>
                <td>{{item.created_at | date : "dd/MM/y" : "fr" }}</td>
            </tr>
        </tbody>
    </table>
</div>
</ng-template>
<ng-template #noContenu>
  <!-- Placeholder content or alternative display when images.length is not greater than 0 -->
  <div class="d-flex justify-content-center"><p [ngClass]="{'mt-5': images.length == 0}">Aucune images disponible.</p></div>
</ng-template>