table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 400px;

    
   img{
    width: 130px;
    height: 90px;
   }
}
