<ng-container *ngIf="renderView.length > 0; then contenu; else noContenu"></ng-container>
<ng-template #contenu>
<div class="table-responsive">
    <table class="table table-hover" style="font-size:18px">
        <thead style="font-size:20px">
            <tr>
                <th scope="col" class="fw-bold">#</th>
                <th scope="col" class="fw-bold">Image</th>
                <th scope="col" class="fw-bold">Nom du fichier</th>
                <th scope="col" class="fw-bold">Meta description</th>
                <th scope="col" class="fw-bold">Tags</th>
                <th scope="col" class="fw-bold">Date d'ajout</th>
                <th scope="col" class="fw-bold">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of renderView">
                <td >{{item.id}}</td>
                <td ><img class="img-fluid" src={{item.base64}}></td>
                <td >{{item.name}}</td>
                <td >{{item.description}}</td>
                <td>{{item.tags}}</td>
                <td >{{item.created_at | date : "dd/MM/y" : "fr" }}</td>
                <td ><app-edit 
                    [item]="item"
                ></app-edit></td>
            </tr>
        </tbody>
    </table>
</div>
</ng-template>
<ng-template #noContenu>
  <!-- Placeholder content or alternative display when images.length is not greater than 0 -->
  <div class="d-flex justify-content-center"><p [ngClass]="{'mt-5': images.length == 0}">Aucune images disponible.</p></div>
</ng-template>