table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 400px;

    
   img{
    width: 130px;
    height: 90px;
   }

   app-edit{
    display: flex;
    justify-content: space-evenly;
   }

   input[type=checkbox]{
    width: 20px;
    height: 20px;
   }
}

.fa-trash{
    color: crimson;
    padding: 0.3rem
   }
  
  
  .fa-download{
    color: #409cb9;
   }
